<nav class='navbar navbar-expand-sm bg-dark navbar-dark p-3'>
    <a class='navbar-brand m-3' href='/'>Mon menu</a>
    <button class='navbar-toggler m-2' type='button' data-toggle='collapse' data-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarText'>
        <ul class='navbar-nav mr-auto'>
        <li class='nav-item m-4 {{app.request.get("_route") == "page_accueil" ? "active" : ""}}'>
            <a class='nav-link' href='{{path("page_accueil")}}'>Menu <span class='sr-only'>(current)</span></a>
        </li>
        <li class='nav-item m-4 {{app.request.get("_route") == "page_villes" ? "active" : ""}}'>
            <a class='nav-link' href='{{path("page_villes")}}'>
            <a class='nav-link' href='{{path("page_villes")}}'>Les villes</a>
        </li>
        <li class='nav-item m-4 {{app.request.get("_route") == "page_contact" ? "active" : ""}}'>
            <a class='nav-link' href='{{path("page_contact")}}'>
            <a class='nav-link' href='{{path("page_contact")}}'>Contact</a>
        </li>
        </ul>
        <span class='navbar-text'>
        Les meilleurs villes de patates
        </span>
    </div>
</nav>